# WordPress runtime
wordpress/

# DDEV runtime
.ddev/.webimageBuild/

# mac/windows noise
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
*.log

# Node tooling
node_modules/
test-results/
playwright-report/
